

.signup {
    height: 90vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.form {
    background: #000;
    width: 60%;
    height: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.form__row {
    display:flex;
    justify-content:space-around;
}

.form__container {
    display:flex;
    flex-direction:column;
    width: 28%;
}

.form__title {
    width: 28%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.form__input {
    padding: 1rem;
    height: 100%;
}

.form__label {
    text-align: center;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

.form__textarea {
    height: 40%;
    width: 94.5%;
    margin: 0 auto;
}

.form__button {
    margin: 0 auto;
    width: 20%;
    padding: 1rem 0;
}

@media screen and (max-width: 1366px) {
    .signup {
        height: 120vh;
    }
    
    .form {
        width: 70%;
    }

    .form__label {
        font-size: 1.1rem;
    }
}